# This configuration file is customized by fox,
# Optimize for ONU access.

[Match]
Name=enp6s18

[Network]
LinkLocalAddressing=no

[Address]
Address=192.168.100.2/24

[Link]
RequiredForOnline=no

