# This configuration file is customized by fox,
# Optimize for PPPoE dialing.

[Match]
Name=pppoe1
Type=ppp

[Network]
IPv6AcceptRA=yes
LLMNR=no

[IPv6AcceptRA]
DHCPv6Client=always
UseDNS=no
UseDomains=no

[DHCPv6]
RapidCommit=yes
UseDNS=no
UseNTP=no
UseDomains=no

[FairQueueingControlledDelay]
PacketLimit=1024
TargetSec=4ms
IntervalSec=60ms
QuantumBytes=384

[Link]
RequiredForOnline=yes

