# This configuration file is customized by fox,
# Optimize for bridge network.

[Match]
Name=bridge1

[Network]
IPv6AcceptRA=no
DHCPPrefixDelegation=yes
LinkLocalAddressing=ipv6

[Address]
Address=172.16.1.1/24

[Address]
Address=fdac::1/64
RouteMetric=512

[FairQueueingControlledDelay]
PacketLimit=1024
QuantumBytes=512

[Link]
RequiredForOnline=yes

