[Match]
Name=bridge1

[Network]
IPv6AcceptRA=no
DHCPPrefixDelegation=yes
LinkLocalAddressing=ipv6

[Address]
Address=172.16.1.1/24

[Address]
Address=fdac::1/64
RouteMetric=512

[FairQueueingControlledDelay]
PacketLimit=1000
MemoryLimitBytes=32M
IntervalSec=60ms
QuantumBytes=500
ECN=yes

[Link]
RequiredForOnline=yes

