# This configuration file is customized by fox,
# Optimize for bridge network.

[Match]
Name=bridge1

[Network]
IPv6AcceptRA=no
DHCPPrefixDelegation=yes
LinkLocalAddressing=ipv6

[Address]
Address=172.16.1.1/24

[FairQueueingControlledDelay]
PacketLimit=2560
TargetSec=4ms
IntervalSec=80ms
MemoryLimitBytes=16M

[Link]
RequiredForOnline=yes

