[Match]
Name=pppoe-out1
Type=ppp

[Network]
LLMNR=no

[IPv6AcceptRA]
DHCPv6Client=always
UseDNS=no

[FairQueueingControlledDelay]
PacketLimit=800
MemoryLimitBytes=32M
IntervalSec=60ms
QuantumBytes=300
ECN=yes

[Link]
RequiredForOnline=no

