[Match]
Name=pppoe-out1
Type=ppp

[Network]
IPv6AcceptRA=yes
LLMNR=no

[IPv6AcceptRA]
DHCPv6Client=always
UseDNS=no
UseDomains=no

[DHCPv6]
RapidCommit=yes
UseDNS=no
UseDomains=no

[FairQueueingControlledDelay]
PacketLimit=800
MemoryLimitBytes=32M
IntervalSec=60ms
QuantumBytes=300
ECN=yes

[Link]
RequiredForOnline=yes

