# This configuration file is customized by fox,
# Optimize for bridge ports.

[Match]
Name=enp6s19
Name=enp6s20
Name=enp6s21

[Network]
Bridge=bridge1

